doctype html
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
        
      ul(class='list-group .list-group-flush ')
      - var list = ['wallet 1', 'wallet 2', 'wallet 3']
      each element in list
        include list.pug
