//- index.pug

extends layout/layout.pug

append body
  body(class='background')

block content
  
  div(class='jumbotron mx-md-5 my-md-2 px-3')
    h1(class='display-4')= jumbotron
    p(class='lead')= subtitle
    a(class='btn btn-primary btn-lg' href='#' role='button')= more
