//- index.pug

extends layout/layout.pug

append body
  body(class='background')

block content
  
  .jumbotron
    h2(class='display-5')= jumbotron
    .dropdown-divider
    p(class='lead')= subtitle
    a(class='btn btn-primary btn-lg' href='#' role='button')= more
