extends ../layout/layout.pug


block content

  //- atributos do container principal
  - var divAtr = ['container', 'my-3', 'py-3', 'col-md-6'];

  //- Atributos formulario
  - var divFormRow = ['form-group', 'row'];
  
  //- Cria uma linha horizontal
  - var divider = ['dropdown-divider'];


  div(class= divAtr)
    h1(class='display-5') Configurações
    div(class= divider)
      
    div(class= divFormRow)
     label(for="username" class="col-sm-2 col-form-label") Username
     div(class="col-sm-10")
       input(type="text" readonly class="form-control-plaintext" id="username" value=username)
    div(class= divFormRow)
     label(for="email" class="col-sm-2 col-form-label") Email
     div(class="col-sm-10")
       input(type="text" readonly class="form-control-plaintext" id="email" value=email)
