extends ../layout/layout.pug

append body
  body(class='background')

block content

  //- Atributos formulario
  - var divFormRow = ['form-group', 'row'];
  
  //- Campo de texto ocupa toda as 12 colunas
  - var divFormFullfAtr = ['form-group', 'col-md-12'];
  
  //- Campo de texto ocupa 6 colunas (meia tela)
  - var divFormHalfAtr = ['form-group', 'col-md-6'];
  
  - var DivInputFullAtr = ['mb-2', 'pb-2'];
  

  .jumbotron
    h2.display-5 Configurações
    .dropdown-divider
      
    form(action='/config' method='post')
      .form-row
        .form-group(class='col-md-6')
          label(for='InputUserName1') Usuário
          input(type='text' class='form-control' readonly name='InputUserName' id='InputUserName1' value= username )
    
        .form-group(class='col-md-6')        
          label(for='InputEmail1') Email
          input(type='text' class='form-control' readonly name='InputEmail' id='InputEmail1' value= email)
            
        .form-group(class='col-md-12')
          label(for='InputPassword1') Senha
          input(type='password' class='form-control' name='InputPassword' id='InputPassword1' aria-describedby='passwordHelp' placeholder='Digite uma nova senha')
        
        .form-group(class='col-md-12')          
          small(id='passwordHelp' class='form-text text-muted') Nunca compartilhe sua senhas.
        
        .form-group(class='col-md-12')
          button(type='submit' class='btn btn-outline-primary btn-block')= submit
             
