extends ../layout/layout.pug


block content

  //- atributos do container principal
  - var divAtr = {};
  - divAtr = ['container', 'my-3', 'py-3', 'col-md-8'];

  //- Campo de texto ocupa toda as 12 colunas
  - var divFormFullAtr = {};
  - divFormFullAtr.class = ['form-group', 'col-md-12'];

  //- Campo de texto ocupa 6 colunas (meia tela)
  - var divFormHalfAtr = {};
  - divFormHalfAtr.class = ['form-group', 'col-md-6'];

  //- Campo input
  - var DivInputFullAtr = {};
  - DivInputFullAtr.class = ['input-group'];


  div(class= divAtr)
  h1(class='display-4') Wallets Privado
  p(class='lead')= username
  p(class='lead')= email
  p(class='lead')= password
