extends ../layout/layout.pug

append body
  body(class='background')

block content
  
  - var margem = ['mx-sm-3', 'mb-2']
  
  - var divFormFullAtr = ['form-group', 'col-md-6'];
  .jumbotron
    h2.display-5 Carteiras
    form(action='/user/wallet' method='post')
      .form-group
        input(type='text' class='form-control' name='InputWallet' placeholder='Insira uma carteira' id='wallets')
      button(type='submit' class='btn btn-outline-primary btn-block') Enviar
  
    if (wallets.length == 0)
      p Nenhuma carteira encontrada
    else
      table.table
        thread
          tr
            th(scope="col") Carteiras
        tbody
          each carteira, index in wallets
            tr
              td
                a(href='/user/wallet/' + carteira) #{carteira}
