//-500.pug
extends ../layout/layout.pug
    
block content

  div(class='jumbotron my-3 px-3')
    h1(class='display-4') 500 
    p(class='lead') Erro Interno
    p(class='lead')= error
    a(class='btn btn-primary btn-lg' href='/' role='button') Retornar
