//- Footer.pug

- var footerAttrib = {};
- footerAttrib.class = ['page-footer', 'font-small', 'bg-dark', 'content-center'];
- footerAttrib.style = 'position: relative; bottom: 0%;';

- var iAttrib = {};
- iAttrib.class = ['fa-lg', 'm-3', 'fa-3x', 'text-white'];
- iAttrib.style = '';

footer(
class= footerAttrib.class
style= footerAttrib.style
)

  //- Footer Elements
  div(class='container col-12 col-md-8')

    div(class='text-center py-3')
      
      

      //- Facebook
      a(class='fb-ic')
        i(class='fab fa-facebook' class= iAttrib.class)

      //- Twitter
      a(class='tw-ic')
        i(class='fab fa-twitter' class= iAttrib.class)

      //- Google +
      a(class='gplus-ic')
        i(class='fab fa-google-plus' class= iAttrib.class)

      //- Linkedin
      a(class='li-ic')
        i(class='fab fa-linkedin' class= iAttrib.class)

      //- Instagram
      a(class='ins-ic')
        i(class='fab fa-instagram' class= iAttrib.class)

      //- Pinterest
      a(class='pin-ic')
        i(class='fab fa-pinterest' class= iAttrib.class)

  //- Copyright
  div(class='footer-copyright text-center py-3 text-white') © 2018 Copyright: peer2you
