//- Footer.pug

- var iAttrib = ['fa-lg', 'm-3', 'fa-2x', 'text-white'];

footer(class='container-fluid bg-dark')
  div(class='d-flex flex-row justify-content-center')
      .p-2
        a.fb-ic
          i(class='fab fa-facebook' class= iAttrib)
            
      .p-2
        a.tw-ic
          i(class='fab fa-twitter' class= iAttrib)
      
      .p-2
        a.li-ic
          i(class='fab fa-linkedin' class= iAttrib)
      
      .p-2
        a.ins-ic
          i(class='fab fa-instagram' class= iAttrib)
              
  //- Copyright
  div(class='footer-copyright text-center py-3 text-white') © 2018 Copyright: peer2you
