//- layout.pug
//- atributos do container principal
- var divAtr = ['container-fluid', 'py-3', 'col-md-8'];





html(lang='pt-BR')
  head
    include head.pug
    
    block script
      include script.pug
      
  block body
    .container-fluid
      block jumbotron
      block navbar
        include navbar.pug
      div(class= divAtr)
        block content  
      block footer
        include footer.pug
      
