//- layout.pug

html(lang="pt-BR")
  head
    include head.pug
    
    block script
      include script.pug
      
  block body
    
    block jumbotron
    
    block navbar
      include navbar.pug

    block content
      
    block footer
      include footer.pug
      
